/* @import url("/etc/xdg/waybar/style.css"); */

* {
    border: 0;
    border-radius: 0;
    color: #ebdbb2;
    padding: 0 0;
    font-family: 'JetBrains Mono';
    font-weight: bold;
    font-size: 14px;
    /* margin-right: 5px; */
    /* margin-left: 5px; */
    /* padding-bottom:3px; */
   }

window#waybar {
    background-color: #282828;
}

#workspaces button {
    /* padding: 2px 0px; */
    margin: 0 2px;
    border-bottom: 2px;
    border-color: #d8dee9;
    border-style: solid;
    /* margin-top:2px; */
}

#workspaces button.focused {
    border-color: #81a1c1;
}

#workspaces {
    margin: 0 10px;
}

#mode {
    color: #ebcb8b;
}

#custom-uptime {
    margin: 0 30px;
}

#clock, #battery, #cpu, #memory,#idle_inhibitor, #temperature,#custom-keyboard-layout, #backlight, #network, #pulseaudio, #mode, #tray, #window,#custom-launcher,#custom-power,#custom-pacman, #custom-network_traffic {
    padding: 0 10px;
    border-bottom: 2px;
    border-style: solid;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */


#clock {
    color: #b16286;
}

#backlight {
    color: #d79921;
}

#battery {
    color: #d8dee9;
}

#battery.charging {
    color: #81a1c1;
}

@keyframes blink {
    to {
        color: #4c566a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color:#a3be8c ;
}

#memory {
    color: #d3869b;
}

#network.disabled {
    color:#bf616a;
}

#network{
    color:#a3be8c;
}

#network.disconnected {
    color: #bf616a;
}

#pulseaudio {
    color: #458588;
}

/*#pulseaudio.muted {
    color: #3b4252;
}*/

#temperature {
    color: #8fbcbb;
}

#temperature.critical {
    color: #bf616a;
}

#idle_inhibitor.activated {
   color: #98971a;
}
#idle_inhibitor.deactivated {
   color: #fe8019;
}

#tray {
   color: #689d6a;
}

#custom-launcher,#custom-power{
    border-style: hidden;
    margin-top:2px;
}

#window{
    border-style: hidden;
    margin-top:1px;
}
#mode{
    /* margin-bottom:3px; */
}

#custom-keyboard-layout{
   color:#d08770;
}
